rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Profile Pictures
    match /profilePictures/{userId}/{fileName} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId
        && request.resource.size < 100 * 1024 * 1024;
    }

    // Posts
    match /posts/{userId}/{fileName} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId
        && request.resource.size < 100 * 1024 * 1024;
    }

    // Reels
    match /reels/{userId}/{fileName} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId
        && request.resource.size < 100 * 1024 * 1024;
    }

    // Stories
    match /stories/{userId}/{fileName} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId
        && request.resource.size < 100 * 1024 * 1024;
    }

    // Chat Media
    match /chats/{chatId}/{messageId}/{fileName} {
      allow create: if request.auth != null && request.resource.size < 100 * 1024 * 1024;
      allow read, delete: if request.auth != null
        && (request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participants);
      allow update: if false;
    }

    // Default Deny
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
